@charset "UTF-8";
body {
	background-color: #5B5B5B;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
#container {
	width: 100%;
	background-color: #CCCBCB;
	margin: 15px 50px;
	float: inherit;
	text-align: left;
	padding: 0 20px 20px;
	position: relative
}
h1 {
	text-align: center;
	color: #5E5E5E;
	border-bottom-style: double;
	padding: 10px 10px 0;
	text-shadow: 1px 1px .25px #FFFFFF;
}
#img>img {
	width: 30%;
	height: auto;
}
